[Unit]
Description=Run Ninja Collector Daily at 11 PM Central
Requires=es-inventory-ninja.service

[Timer]
OnCalendar=*-*-* 23:00:00
Persistent=true

[Install]
WantedBy=timers.target
