[Unit]
Description=Run Ninja collector daily at 02:10 AM Central Time

[Timer]
OnCalendar=--* 08:10:00
Persistent=true
AccuracySec=1m
Unit=ninja-collector@%i.service

[Install]
WantedBy=timers.target
