[Unit]
Description=Run ThreatLocker collector daily at 02:31 AM Central Time

[Timer]
OnCalendar=*-*-* 08:31:00
Persistent=true
AccuracySec=1m
Unit=threatlocker-collector@%i.service

[Install]
WantedBy=timers.target
