[Unit]
Description=Run ThreatLocker collector daily at 02:10 AM Central Time

[Timer]
OnCalendar=*-*-* 02:10:00 America/Chicago
Persistent=true
AccuracySec=1m
Unit=threatlocker-collector@%i.service

[Install]
WantedBy=timers.target
