[Unit]
Description=Run Windows 11 24H2 Assessment 30 minutes after Ninja collection

[Timer]
OnCalendar=*-*-* 02:30:00
OnCalendar=*-*-* 08:30:00
OnCalendar=*-*-* 14:30:00
OnCalendar=*-*-* 20:30:00
Persistent=true

[Install]
WantedBy=timers.target
